body {
	font-family: $garamond;
	color: $white;
	line-height: 1.5;
	font-size: 16px;
}

[class*="col"] {
	padding: 0;
}

.wrapper,.container-custom,.row {
	margin: 0;
	padding: 0;
	width: 100%;
	}

.container {
	max-width: 1000px;
	padding: 0;
}

h1,h2,h3,h4,h5 {
	color: $yellow;
	margin: 0;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

a {
	color: $yellow;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: $white;
	}
	&:visited {
		text-decoration: none;
	}
}

hr {
	border-color: $yellow;
	width: 136px;
	margin: 25px 0 25px 0;
}





