// COLORS
$yellow: #ffdf78;
$white: #fff;
$brown: #31241d;
$brown-alpha: rgba(49, 36, 29, 0.9);;
$black: #141d31;

// FONTS
$rosa: "RosaMarena";
$garamond: "Garamond";

// IMAGES
$grid-bg: url("../images/bg-leather.png");
$menu-bg: url("../images/bg-menu.png");

$more-arrow_yellow: url("../images/arrow-more.png");
